{% extends "_layout.twig" %}
{% block content %}
<div class="col-sm-2">
	<div class="panel panel-default box">
		<div class="panel-heading pay"><span class="glyphicon glyphicon-ok"></span> Last payout</div>
		<div class="panel-body">
			<ul class="list-group">

				<li class="list-group-item">
					<a href="#">s2moneyonline.com</a>
					<small>20.12.2016 20:15</small>
					<span class="pull-right">100$</span>
				</li>
				<li class="list-group-item">
					<a href="#">s2moneyonline.com</a>
					<small>20.12.2016 20:15</small>
					<span class="pull-right">100$</span>
				</li>
				<li class="list-group-item">
					<a href="#">s2moneyonline.com</a>
					<small>20.12.2016 20:15</small>
					<span class="pull-right">100$</span>
				</li>
				<li class="list-group-item">
					<a href="#">s2moneyonline.com</a>
					<small>20.12.2016 20:15</small>
					<span class="pull-right">100$</span>
				</li>
				<li class="list-group-item">
					<a href="#">s2moneyonline.com</a>
					<small>20.12.2016 20:15</small>
					<span class="pull-right">100$</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="text-center banner">
		<img src="180.gif">
		<img src="180.gif">
		<img src="180.gif">
		<img src="180.gif">
	</div>
	<div class="panel panel-default box">
		<div class="panel-heading scam"><span class="glyphicon glyphicon-remove"></span> Last scam</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item"><a href="#"> s2moneyonline.com</a></li>
				<li class="list-group-item"><a href="#"> s2moneyonline.com</a></li>
				<li class="list-group-item"><a href="#"> s2moneyonline.com</a></li>
				<li class="list-group-item"><a href="#"> s2moneyonline.com</a></li>
				<li class="list-group-item"><a href="#"> s2moneyonline.com</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="col-sm-7">
	<div class="text-center banner">
		<img src="728.gif">
		<img src="728.gif">
	</div>
	<nav class="navbar navbar-default nav-list">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Premium</a></li>
			<li><a href="#">Normal</a></li>
			<li><a href="#">Trial</a></li>
			<li><a href="#">Free</a></li>
			<li><a href="#">Scam</a></li>
		</ul>
		<form class="navbar-form navbar-right" role="search">
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="domain" size="16">
					<span class="input-group-btn">
						<button class="btn btn-default search" type="button"><span class="glyphicon glyphicon-search"></span></button>
					</span>
				</div>
			</div>
		</form>
	</nav>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="site"><a href="detail.html">windproject.biz</a></div>

			<span class="label label-success pull-right"><span class="glyphicon glyphicon-ok"></span> Paying</span>
			<div class="pull-right ad">admin: <a href="user.html">noobzx</a></div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-3">
					<a href="detail.html">
						<img src="https://mozshot.nemui.org/shot/120x90?http://bitaina.com" class="webimg" />
					</a>
					<div class="text-center marked">
						<button class="btn btn-default"> 100 Mark</button>
					</div>

				</div>
				<div class="col-sm-9">
					<div class="row">
						<div class="col-sm-6">
							Our investment: 100$ <br> Received: 45$
							<div class="progress profit">
								<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0"
									aria-valuemax="100" style="width:40%">
									40%
								</div>
							</div>
							Min/Max Deposit: $1 / $10000<br>



						</div>
						<div class="col-sm-6">

							Lifetime: 44 days<br> Added: 12-12-2016
							<br>Last paid: Dec 2nd, 2016<br> Min/Max Withdrawal: $1 / $10000

						</div>
					</div>
					<div class="row more">
						<div class="col-sm-12">
							Discussion: TG | MMG | DTM | MMGP<br> Payments: <img src="http://hyip-zoom.net/img/PerfectMoney.gif"><img src="http://hyip-zoom.net/img/PAYEER.gif">
							<br>Investment Plans:2.5% DAILY FOR 60 DAYS

						</div>
					</div>
				</div>

			</div>
			<ul class="nav nav-more">
				<li class="active"><a data-toggle="tab" href="#vote">Vote & Comment</a></li>
				<li><a data-toggle="tab" href="#payout">Payouts</a></li>
				<li><a data-toggle="tab" href="#rcb">RCB 100%</a></li>
				<li><a data-toggle="tab" href="#domain">Domain & Traffic</a></li>
				<li><a data-toggle="tab" href="#join">Joined</a></li>
				<li><a data-toggle="tab" href="#monitor">HYIP Monitors</a></li>
			</ul>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="site"><a href="detail.html">windproject.biz</a></div>

			<span class="label label-success pull-right"><span class="glyphicon glyphicon-ok"></span> Paying</span>

		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-3">
					<a href="detail.html">
						<img src="https://mozshot.nemui.org/shot/120x90?http://bitaina.com" class="webimg" />
					</a>
					<div class="text-center mark">
						<button class="btn btn-default"> 100 Mark</button>
					</div>

				</div>
				<div class="col-sm-9">
					<div class="row">
						<div class="col-sm-6">
							Our investment: 100$ <br> Received: 45$
							<div class="progress profit">
								<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0"
									aria-valuemax="100" style="width:40%">
									40%
								</div>
							</div>
							Min/Max Deposit: $1 / $10000<br>



						</div>
						<div class="col-sm-6">

							Lifetime: 44 days<br> Added: 12-12-2016
							<br>Last paid: Dec 2nd, 2016<br> Min/Max Withdrawal: $1 / $10000

						</div>
					</div>
					<div class="row more">
						<div class="col-sm-12">
							Discussion: TG | MMG | DTM | MMGP<br> Payments: <img src="http://hyip-zoom.net/img/PerfectMoney.gif"><img src="http://hyip-zoom.net/img/PAYEER.gif"><br>										Investment Plans:2.5% DAILY FOR 60 DAYS
						</div>
					</div>
				</div>

			</div>
			<ul class="nav nav-more">
				<li class="active"><a data-toggle="tab" href="#vote">Vote & Comment</a></li>
				<li><a data-toggle="tab" href="#payout">Payouts</a></li>
				<li><a data-toggle="tab" href="#rcb">RCB 100%</a></li>
				<li><a data-toggle="tab" href="#domain">Domain & Traffic</a></li>
				<li><a data-toggle="tab" href="#join">Joined</a></li>
				<li><a data-toggle="tab" href="#monitor">HYIP Monitors</a></li>
			</ul>
		</div>
	</div>

	<ul class="pagination">
		<li><a href="#">1</a></li>
		<li class="active"><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
	</ul>


</div>
<div class="col-sm-3">
	<div class="panel panel-default box event">
		<div class="panel-heading"><span class="glyphicon glyphicon-bullhorn"></span> Last Event</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					<a href="#">
						<b>Tien vu</b> vote <span class="text-success tvote">GOOD</span> for <b>s2moneyonline.com</b><br> 10 min ago
					</a>
				</li>
				<li class="list-group-item">
					<a href="#">
						<b>Tien vu</b> vote <span class="text-warning tvote">NORMAL</span> for <b>s2moneyonline.com</b><br> 10 min ago
					</a>
				</li>
				<li class="list-group-item">
					<a href="#">
						<b>Tien vu</b> vote <span class="text-danger tvote">BAD</span> for <b>s2moneyonline.com</b><br> 10 min ago
					</a>
				</li>
				<li class="list-group-item">
					<a href="#">
						<b>Tien vu</b> comment for s2moneyonline.com<br> Instant: The amount of 0.5 USD has been deposited to your Perfect
						Money account. ..<br> 20-12-2016 03:23
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="text-center banner">
		<img src="300.gif">
		<img src="300.gif">
	</div>
</div>
{% endblock %}