<div class="footer">
    <div class="container">
        <div class="row ">
            <div class="col-sm-3">
                <label>Menu</label>
                <ul class="nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Add program</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">RCB</a></li>

                </ul>
            </div>
            <div class="col-sm-3">
                <label>Pages</label>
                <ul class="nav">



                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Terams & Conditions</a></li>
                </ul>
            </div>

            <div class="col-sm-6">
                <label>DISCLAIMER</label>
                <p>
                    We don't own or promote any program listed here. The information provided here only is for your Option and Investment. Some
                    programs, investments or listings here may be illegal. We don't recommend you to spend what you cannot afford to lose.
                </p>
            </div>
        </div>
        <div class="row text-center copy">
            All Rights Reserved 2014-2016.HYIPS
        </div>
    </div>
</div>